.row.summary{
    margin: 0;
    color: #6d6d6d;

    .col-sm {
        height: 130px;
        padding: 20px;
        border-right: 2px solid #d6d6d6;
        display: flex;
        align-items: center;
        cursor: pointer;

        h5 {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
        }
        
        img {
            margin-right: 10px;
        }

        &:hover {
            background-color: #eee;
        }

        &:last-child {
            border-right: 0;
        }

        
        &.total img, &.total h5 {
            color: #084478;
        }

        &.new img, &.new h5 {
            color: #f39c12;
        }

        &.positive img, &.positive h5 {
            color: #7ccc63;
        }
        
        &.negative img, &.negative h5 {
            color: #e74c3c;
        }

        &.selected {
            border-bottom: 10px solid #084478;
        }
    }
}

@media (max-width: 996px) {
    .col-sm.total {
        max-width: 25%;
    }
}

@media (max-width: 767px) {
    .col-sm.total {
        max-width: 50%;
    }
}
